<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="liveToast" data-bs-delay="5800">
  <div class="toast-header">
    <img src="<%=evento.imagem_evento%>" alt="Imagem do evento adicionado ao carrinho" id="imagem-evento" />
    <strong class="me-auto">Sua compra de <%=evento.nome_evento%> não pode ser realizada</strong>
    <small class="text-muted"></small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div
    class="progress"
    role="progressbar"
    aria-label="Example 1px high"
    aria-valuemin="0"
    aria-valuemax="100"
    style="height: 5px">
    <div class="progress-bar" id="barra"></div>
  </div>
  <div class="toast-body">Evento já adicionado ao carrinho</div>
</div>
