<footer id="footer"> <div class="footer-newsletter mt-5">
    <div class="container"> 
     <div class="row"> 
       <div class="col-lg-6">
         <h4>Assine nossa newsletter</h4>
        <p>Nos siga nas redes sociais</p> 
        <a href="https://twitter.com" target="_blank"><i class="bi bi-twitter"></a></i>
        <a href="https://instagram.com" target="_blank"><i class="bi bi-instagram"></a></i>
        <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></a></i>
       </div> <div class="col-lg-6">
          <form action="" method="post"> 
           <input type="email" name="email">
           <input type="submit" value="Inscreva-se">
         </form> 
       </div> 
     </div> 
   </div> 
 </div> 
</footer>