<footer id="footer"> <div class="footer-newsletter mt-auto">
    <div class="container"> 
     <div class="row"> 
      <div class="bora-footerContainer">
        <div class="bora-footer">
          <p><strong>Bora</strong></p>
          <a href="/quemsomos">Sobre nós</a>
          <a href="">Trabalhe conosco</a>
          <a href="">Assinatura</a>
          <a href="">Comunidade</a>
        </div>
        <div class="bora-footer">
          <p><strong>Televendas</strong></p>
          <a href="tel:000000000">(11) 0000-0000</a>
          <a>Segunda a Sábado: 9 às 21h​</a>
          <a>Domingo: 10 às 16h</a>
          <a>Feriado Nacional​: 9 às 14h​</a>
        </div>
        <div class="bora-footer">
          <p><strong>Central de Atendimento</strong></p>
          <a href="tel:000000000">Suporte Pós Vendas: (11) 1111-1111</a>
          <a>Segunda a Sábado: 9 às 21h​</a>
          <a>Domingo: 10 às 16h</a>
          <a>Feriado Nacional​: 9 às 14h​</a>
          <a>SAC: (11) 3003-0000​</a>
          <a>Central de Ajuda​</a>
        </div>
        <div class="bora-footer">
          <p><strong>Termos</strong></p>
          <a href="#">Condições de uso do site</a>
          <a href="#">Condições Gerais​</a>
          <a href="#">Politica de privacidade</a>
          <a href="#">Código de Conduta Ética​</a>
        </div>
      </div>
      
       <div class="col-lg-6">
         <h4>Assine nossa newsletter</h4>
        <p>Nos siga nas redes sociais</p> 
        <a href="https://twitter.com" target="_blank"><i class="bi bi-twitter"></a></i>
        <a href="https://instagram.com" target="_blank"><i class="bi bi-instagram"></a></i>
        <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></a></i>
       </div> <div class="col-lg-6">
          <form action="" method="post"> 
           <input type="email" name="email">
           <input type="submit" value="Inscreva-se">
         </form> 
       </div> 
     </div> 
   </div> 
 </div> 
</footer>