<nav>
      <a class="navbar-brand" href="#">
        <img
          src="/images/index/logo-branca.svg"
          alt="Logo"
          width="60"
          height="50"
          class="d-inline-block align-text-center"
        />
      </a>
      <!-- <div><h2>Encontre sua tribo</h2></div> -->
      <div id="icones-nav">
        <div><a href="#"><i class="bi bi-bell"></a></i></div>
        <div><a href=""><i class="bi bi-file-person"></a></i></div>
      </div>
      <div id="nav-icon2">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
   <div id="menu-modal">
    <li>
      <ul><a href="/">Home</a></ul>
      <ul><a href="/users/cadastrar">Cadastro</a></ul>
      <ul><a href="/login">Login</a></ul>
      <ul><a href="/eventos">Eventos</a></ul>
      <ul><a href="/faleconosco">Fale conosco</a></ul>
      <ul><a href="">Quem somos</a></ul>
    </li>
   </div>