<!-- NOTA:
  - Fazer offcanvas do carrinho 
-->

<nav class="navbar navbar-dark bg-dark" id="nav-header">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="/images/index/logo-branca.svg"
        alt="Logo"
        width="60"
        height="50"
        class="d-inline-block align-text-center"
      />
    </a>
    <div class="icones-nav">
      <div id="box-profile">
        <% if (locals.userIsLogged) { %>
        <a href="/users/perfil/<%=userLogged.id%>"
          ><i id="profile-icon" class="bi bi-file-person"></i
        ></a>
        <div>Olá, <%=userLogged.first_name %>!</div>
        <% } else if (locals.adminIsLogged) { %>
        <a href="/admin/listareventos"
          ><i id="admin-icon" class="bi bi-person-gear"></i
        ></a>
        <div>Olá, Administrador!</div>
        <% } else { %>
        <a href="/login"><i id="guest-icon" class="bi bi-file-person"></i></a>
        <div>
          Olá, Visitante!
          <small>Cadastre-se, ou faça seu login!</small>
        </div>
        <% } %>
      </div>
      <div id="box-cart">
        <button
          class="bi bi-cart-check-fill"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasCart"
          aria-controls="offcanvasCart"
        ></button>
        <div>Carrinho</div>
      </div>
    </div>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasCart"
      aria-labelledby="offcanvasCartLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasCartLabel">
          Carrinho de Compras
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body-cart">
        <div class="cart-content">
          <div id="eventCartImage">
            <img id="image-cart-thumb" class="rounded-float-start" src="" />
          </div>
          <div id="eventCartName"></div>
          <div id="eventCartPrice"></div>
        </div>
        <hr />
      </div>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar"
    >
      <div class="navbar-toggler-icon" id="nav-icon2">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
    <div
      class="offcanvas offcanvas-end text-bg-dark"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
          <% if (locals.userIsLogged) { %> Olá, <%=userLogged.first_name %>! <%
          } else if (locals.adminIsLogged) { %> Administrador <% } else { %>
          Olá, faça seu login! <% } %>
        </h5>
        <button
          type="button"
          class="btn-close btn-close-light"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <% if (locals.adminIsLogged) { %>
          <li class="nav-item">
            <a class="nav-link" href="/admin/listarusuarios"
              >Listagem de Usuários</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/listareventos"
              >Listagem de Eventos</a
            >
          </li>
          <% } %> <% if (locals.userIsLogged) { %>
          <li class="nav-item">
            <a class="nav-link" href="/users/perfil/<%= userLogged.id %> "
              >Perfil</a
            >
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/cadastrar/tipocadastro"
              >Cadastrar</a
            >
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="/eventos">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quemsomos">Quem Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/faleconosco">Fale Conosco</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
