<li class="nav-item">
  <a class="nav-link" href="/eventos">Eventos</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/quemsomos">Quem Somos</a>
</li>
<li class="nav-item">
  <a class="nav-link" <% if (locals.userLogged) { %>
    href= "/faleconosco/<%=userLogged.id%>" <% } else { %> href="/faleconosco" <% } %> >Fale Conosco</a
  >
</li>
