* {
    box-sizing: border-box;
    font-family: open-sans, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*login centralizado*/
    box-shadow: 0px 2px 10px 0px #fc5c0040;
    height: 15vh;
    /* background-color: #ff9a3c; */
}

main {
    display: flex;
}

.logo-bora {
    display: flex;
    align-items: flex-end;

    font-size: 12px;
    color: #ed9700;
}

.logo-bora img {
    width: 90px;
    padding: 5px 0;
}

.logo-bora p {
    margin-left: -10px;
    /* margem negativa, aguardando logo recortado */
}

.login {
    width: 100px;
    margin: 10px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login img {
    width: 28px;
    /* margin: 0 8px; */
}

.login a {
    color: #fdfdfd;
    text-decoration: none;
    font-size: 13px;
}

.principal {

    background: rgba(30, 26, 26, 0.90);
    box-shadow: 0px 4px 16px 19px rgba(0, 0, 0, 0.25);
    padding: 10px;

}

.bem-vindo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
}

.bem-vindo img {
    width: 70px;
    margin: 5px 10px;
}

.cadastre-se {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cadastre-se p {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;
}

.cadastre-se a {
    color: #FFFFFF;
}


.botoes-laranja {
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;


}

.style-botoes {

    background: #FF7A00;
    box-shadow: 4px 4px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 77px;
    text-align: center;
    color: #FFFFFF;

}

.button-entrar {
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
    width: 100px;
    height: 40px;
}

.button-cadastrar {
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
    width: 120px;
    height: 40px;
}


.identificacao {
    background: rgba(30, 26, 26, 0.69);
    box-shadow: 0px 4px 16px 19px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.identificacao h2 {

    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
    color: #FFFFFF;
}

.identificacao form {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    text-align: center;

    color: #FFFFFF;
}

.identificacao p {

    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;

    color: #FF7A00;

}
.input-style {
    margin-bottom: 5px;
}