<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cadastro</title>
    <link rel="stylesheet" href="stylesheets/style-cadastro.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-night.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
</head>
<body>

    <%- include('./partials/header') %>

    <div class="container-form">
        <div class="tela-login">
            <div class="logo-saudacao">
                <img src="images/cadastro-img/logo 3.png" alt="logo bora">
                <span>Bem Vindo(a)</span>
            </div>

            <div class="encontre-experiencia">
                <span>Encontre novas experiências para experimentar!</span>
            </div>

            <div class="login-button">
                <span>Ja tem uma conta? entre agora mesmo</span>
                <button type="submit">Entrar</button>
            </div>
        </div>

        <div class="form">
            <form id="form-cadastro" action="#" method="post">
                <div class="title-form">
                    <h1>Realize seu cadastro agora mesmo</h1>
                    
                </div>
                <div class="message-error"><span>Existem campos que não foram preenchidos corretamente!</span></div>

                <div class="input-group">
                    <div class="input-box">
                        <label id="labelPrimeiroNome" for="primeironome">Primeiro Nome</label>
                        <input type="text" name="primeironome" id="primeironome" placeholder="Digite seu primeiro nome">
                    </div>

                    <div class="input-box">
                        <label id="labelSobrenome" for="sobrenome">Sobrenome</label>
                        <input type="text" name="sobrenome" id="sobrenome" placeholder="Digite seu Sobrenome" required >
                    </div>

                    <div class="input-box">
                        <label id="labelTelefone" for="telefone">Telefone</label>
                        <input type="tel" name="telefone" id="telefone" placeholder="Ex:(xx)-xxxx-xxxx" required >
                    </div>

                    <div class="input-box">
                        <label id="labelEmail" for="email">E-mail</label>
                        <input type="email" name="email" id="email" placeholder="ex: email@me" required >
                    </div>

                    <div class="input-box">
                        <label id="labelcpf" for="cpf">Número de CPF</label>
                        <input type="text" name="cpf" id="cpf" placeholder="Digite seu CPF" required >
                    </div>

                    <div class="input-box">
                        <label id="labelAniversario" for="aniversario">Data de Nascimento</label>
                        <input type="date" name="aniversario" id="aniversario" placeholder="ex: xx/xx/xxxx" required>
                    </div>

                </div>

                <div class="genero-inputs">
                    <div class="genero-titulo">
                        <span>Gênero</span>
                    </div>

                    <div class="genero-grupo">
                        <div class="genero-input">
                            <input type="radio" name="genero" id="female">
                            <label for="female">Feminino</label>
                        </div>

                        <div class="genero-input">
                            <input type="radio" name="genero" id="male" >
                            <label for="male">Masculino</label>
                        </div>

                        <div class="genero-input">
                            <input type="radio" name="genero" id="none" >
                            <label for="none">Prefiro não informar</label>
                        </div>
                    </div>
                </div>

                <div class="endereco">
                    <div class="endereco-title">
                        <span>Endereço</span>
                    </div>

                    <div class="endereco-inputs">

                        <div class="endereco-input">
                            <label id="labelCep" for="cep">CEP</label>
                            <input type="text" name="cep" id="cep" placeholder="Digite o CEP" required>
                            
                        </div>

                        <div class="endereco-input">
                            <label id="labelNumero" for="numero">Número</label>
                            <input type="text" name="numero" id="numero" placeholder="Número da casa" required>
                        </div>

                        <div class="endereco-input">
                            
                            <label id="labelRua" for="rua">Rua</label>
                            <input type="text" name="rua" id="rua" placeholder="Nome da rua" required>

                        </div>

                        <div class="endereco-input">
                            <label id="labelCidade" for="cidade">Cidade</label>
                            <input type="text" name="cidade" id="cidade" placeholder="Cidade" required>
                        </div>

                        <div class="endereco-input">
                            <label id="labelEstado" for="estado">Estado</label>
                            <input type="text" name="estado" id="estado" placeholder="Ex: SP" required>
                        </div>
                    </div>
                </div>

                <div class="finalizar-cadastro">
                    <div class="finalizar-title">
                        <h2>Finalizar Cadastro</h2>
                    </div>

                    <div class="senha">
                        <div class="senha-inputs">
                            <label id="labelSenha" for="senha">Senha</label>
                            <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                            
                        </div>
                        
                        <div class="senha-inputs">
                            <label id="labelConfSenha" for="confirmarSenha">Confirme sua Senha</label>
                            <input type="password" name="confirmarSenha" id="confirmaSenha" placeholder="Confirme sua senha" required>
                        </div>
                        
                    </div>
                    <small id="msg-Senha">
                        Uma letra minúscula <br>
                        Uma letra maiúscula <br>
                        Um caractere especial <br>
                        Mínimo 8 caracteres</small>
                </div>

                <div class="button-cadastrar">
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
        </div> 
    </div>

    <%- include('./partials/footer') %>

      <script src="javascripts/index.js"></script>
      <script src="javascripts/cadastro.js"></script>
      
</body>
</html>