<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar imóveis</title>
</head>
<body>
  <form method="post" enctype="multipart/form-data">
    <label for="picture">Link da foto</label>
    <input id="picture" name="picture" type="text"/>

    <label for="file">Foto</label>
    <input id="file" name="file" type="file" accept="image/png, image/jpeg, image/svg"/>

    <label for="title">Título do Evento</label>
    <input id="title" name="title" type="text"/>

    <label for="description">Descrição</label>
    <input id="description" name="description" type="text"/>

    <button type="submit">Cadastrar Evento</button>
  </form>
</body>
</html>