<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <title>Bora</title>
  </head>

  <body>
    <header>
      <div class="logo-bora">
        <img src="images/index/logo-bora.svg" alt="Site logo" />
        <p>Encontre sua tribo!</p>
      </div>
      <div class="login">
        <!--Aqui esta a imagem de login, esta comentada para qualquer coisa ativar-->
        <!-- <div id="img-login">

          <img src="img/user1.png" a href="#" alt="user button image" />
        </div> -->
        <div class="menu-bar">
          <div class="menu-hamburguer " onclick="onClickMenu()">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>

          </div>
          <ul class="nav" id="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="tela-cadastro/cadastro.html">Cadastro</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Galeria</a></li>
          </ul>
        </div>

        <div class="menu-bg" id="menu-bg"></div>
        <!--fim do menu-bar-->
      </div>
    </header>
    <main>
      <!-- <nav>
        <ul class="nav-bar">
          <li><a href="#">Página inicial</a></li>
          <li><a href="#">Página inicial</a></li>
          <li><a href="#">Página inicial</a></li>
        </ul>
      </nav> -->
      <section class="banner-carrossel">
        <button class="arrow">
          <img src="images/index/Arrow-left.png" alt="left arrow carrossel" />
        </button>
        <div class="titulo-banner">
          <div>
            <h2>Titulo Carrossel</h2>
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </div>
        <button class="arrow">
          <img src="images/index/Arrow-rigth.png" alt="rigth arrow carrossel" />
        </button>
      </section>
      <section class="secao-categoria">
        <h2 class="categorias">CATEGORIAS</h2>
        <div class="imgs-categorias">
          <a href="#"><img src="images/index/categoria1.png" alt="categoria 1" /></a>
          <a href="#"><img src="images/index/categoria2.png" alt="categoria 2" /></a>
          <a href="#"><img src="images/index/categoria3.png" alt="categoria 3" /></a>
          <a href="#"><img src="images/index/categoria4.png" alt="categoria 4" /></a>
          <a href="#"><img src="images/index/categoria5.png" alt="categoria 5" /></a>
          <a href="#"><img src="images/index/categoria6.png" alt="categoria 6" /></a>
        </div>
      </section>
    </main>
    <footer>
      <section class="institucional-footer">
        <div>
          <img src="images/index/logo-bora.svg" alt="Logo bora" />
        </div>
        <div class="institucional-links">
          <a href="#">Quem somos </a>
          <a href="#">Fale conosco </a>
        </div>
      </section>
      <section class="pagamentos-footer">
        <p>Metodos de pagamento:</p>
        <div>
          <img src="images/index/mastercard-logo.svg" alt="Logo Mastercard" />
          <img src="images/index/visa-logo.png" alt="Logo Visa" />
          <img src="images/index/amex-logo.png" alt="Logo American Express" />
          <img src="images/index/elo-logo.png" alt="Logo Elo" />
          <img src="images/index/boleto-logo.png" alt="Logo Boleto" />
          <img src="images/index/pix-logo.png" alt="Logo Pix" />
        </div>
      </section>
      <section class="redes-footer">
        <p>Nossas redes:</p>
        <div>
          <a href="#"> <img src="images/index/face-logo.png" alt="Logo Facebook" /></a>
          <a href="#"> <img src="images/index/twitter-logo.png" alt="Logo Twitter" /></a>
          <a href="#"> <img src="images/index/insta-logo.png" alt="Logo Instagram" /></a>
        </div>
      </section>
    </footer>

    <script src="index.js"></script>
  </body>
</html>

<!-- <img src="img/mastercard-logo.svg" alt="Logo mastercard"> -->

