<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <%- include('./partials/header') %>
    <h1>Usuários</h1>
    <div class="users-list">
        <h1>Lista De Usuários</h1>
        <% for(let users of user ) { %>
            <li><%= users.first_name%></li>
        <% } %>
    </div>

    <%- include('./partials/footer') %>
</body>
</html>