#liveToast {
  z-index: 3;
  top: 12vh;
  right: 0;
  position: fixed;
}

.btn-active {
  background-color: orange;
  border-color: rgb(250, 179, 47);
}

.disabled {
  pointer-events: none;
}

#imagem-evento {
  height: 5vh;
  width: auto;
  margin-right: 2vw;
}

.btn-close {
  height: 1vh;
  width: 1vw;
}

.btn-innactive {
  background-color: grey;
  color: darkgray;
}
