* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.main-quemSomos {
  height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-quemSomos div {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-quemSomos div img {
  width: fit-content;
}

.container-quem-somos {
  display: flex;
  flex-direction: column;

  width: fit-content;
  gap: 1rem;
}
