* {
  box-sizing: border-box;
  font-family: open-sans, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /*login centralizado*/
  box-shadow: 0px 2px 10px 0px #fc5c0040;
  
  /* background-color: #ff9a3c; */
}

.logo-bora {
  display: flex;
  align-items: flex-end;

  font-size: 12px;
  color: #ed9700;
  align-items: center;
}

.logo-bora img {
  width: 90px;
  padding: 5px 0;
}

.logo-bora p {
  margin-left: -10px; /* margem negativa, aguardando logo recortado */
}

.login {
  width: 100px;
  margin: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login img {
  width: 28px;
  /* margin: 0 8px; */
}


.login a {
  color: #fdfdfd;
  text-decoration: none;
  font-size: 13px;
}

ul.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: 0;

  height: 30px;

  background: linear-gradient(180deg, #fb9600 0%, rgba(223, 61, 10, 0.39) 100%);
  mix-blend-mode: normal;
  border: 1px solid rgba(39, 32, 32, 0.5);

  list-style-type: none;
  /* Não conseguimos colocar o blur */
}

.nav-bar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;

  padding: 0 5px;
}

/*------------- style menu hamburguer-------------*/

.menu-hamburguer{
  width: 35px;
  height: 30px;
  margin: 30px 0 20px;
  cursor: pointer;

}

.bar{
  height: 5px;
  width: 100%;
  background-color: #ed9700;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1{
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav li a{
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.nav li a:hover {
  font-weight: bold
}

.nav li{
  list-style: none;
  padding: 16px 0;
}

.nav {
  padding: 0;
  margin: 0pt 20px;
  transition: 0.3s;
  display: none;
}

.menu-bg, .menu-bar {
  top: 0;
  right: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #ed9700 #fb9600);
  border-radius: 50%;
  transition: 0.3ms ease;
}

.menu-bar {
  z-index: 2;
  margin-right: 39px;

}

.change-bg{
  width: 550px;
  height: 540px;
  transform: translate(-60%, - 30%);
}

.change .bar{
  background-color: #ed9700;

}

.change #bar1{
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
  opacity: 0;
}
.change{
  display: block;
}

/* -----------fim do style menu-bar------------ */
footer {
  background-color: #363636;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  color: #ffffff;
  font-size: 10px;
}
.institucional-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.institucional-footer img {
  width: 70px;
}

.institucional-links {
  display: flex;
  flex-direction: column;
}

.institucional-links a {
  padding: 3px;
  text-decoration: none;
  color: #ffffff;
}

.redes-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.redes-footer img {
  width: 25px;
  align-self: center;
}

.pagamentos-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.pagamentos-footer img {
  width: 25px;
}

.pagamentos-footer div {
  flex-wrap: wrap;
  width: 70%;
}

.banner-carrossel {
  background-image: url("../img/carrossel.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.imgs-categorias {
  display: flex;
  flex-direction: row;
  /* Lembrar Media Query Desktop */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  height: 50%;
  margin: auto;
}
.imgs-categorias img {
  width: 100%;
}

.arrow {
  border-radius: 50%;
  border: none;
  margin: 10px;
  padding: 10px;
  background-color: rgba(111, 104, 104, 0.72);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.categorias {
  background: linear-gradient(180deg, #fb9600 0%, rgba(223, 61, 10, 0.39) 100%);
  color: #fff2f2;
  width: 100%;
  text-align: center;
}

