@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
}

/* botão primário */
.btn-primary {
  background-color: orange;
  border-color: rgb(250, 179, 47);
}

.btn-primary:hover {
  background-color: rgb(250, 179, 47);
  border-color: orange;
}

.btn-primary:active {
  background-color: orange;
}

.btn-primary:visited {
  background-color: orange;
}

.btn-primary:focus {
  background-color: orange;
  border-color: rgb(250, 179, 47);
}

#nav-header {
  background-color: rgba(238, 127, 9, 0.9);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-button.collapsed {
  background: rgba(238, 127, 9, 0.9);
}

.accordion-button.active {
  background: rgba(238, 127, 9, 0.9);
}

.accordion-button:focus {
  border-color: rgba(238, 127, 9, 0.9);
  background-color: rgba(245, 147, 44, 0.9);
  box-shadow: 0 0 0 0.25rem rgba(238, 127, 9, 0.9);
  color: #fff;
}

.icones-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

#badge-count {
  font-size: 0.8rem;
  margin-left: 5px;
}

.icones-nav i,
button {
  color: #fff;
  font-size: 2rem;
  background-color: transparent;
  border: none;
}

#box-profile,
#box-cart {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  padding-left: 5px;
  font-size: 20px;
}

#box-profile div {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  font-size: 20px;
}

#box-cart div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#box-profile small {
  font-size: 12px;
}

.icones-nav a:hover {
  color: #c7c7c7;
}

.offcanvas-body-cart {
  display: flex;
  flex-direction: column;
}

.cart-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-content div {
  font-weight: 300;
  font-size: 20px;
}

#eventCartImage img {
  width: 100px;
  height: 100px;
  padding: 0.4rem 0.4rem;
}

#institucionalHome {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#eventos-noturnos h3,
#eventos-diurnos h3,
#eventos-nerds h3,
#eventos-natureza h3 {
  color: rgba(238, 127, 9, 0.9);
}

#eventos-noturnos,
#eventos-diurnos,
#eventos-nerds,
#eventos-natureza {
  text-align: center;
}

.navbar-toggler {
  border-style: none;
}

#nav-icon2 {
  width: 60px;
  height: 45px;
  position: relative;
  z-index: 5;
  /* -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; */
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: white;
  opacity: 1;
  /* -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; */
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 36px;
}

/* #nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
} */

/* #nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
} */

#footer {
  background-color: #18191a;
  width: 100%;
  height: auto;
}

#logo-footer {
  height: 15vh;
  width: fit-content;
}

#footer {
  position: relative;
  background: #404040;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  width: 100%;
  bottom: 0;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #404040;
}
#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #404040;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  /* border-color: #e6573f; */
}
#footer .footer-newsletter form input[type='email'] {
  padding: 8px;
  width: calc(100% - 140px);
  background-color: #4f4f4f;
  border-radius: 50px;
  border-color: #e6573f;
  border-style: double;
}
#footer .footer-newsletter form input[type='submit'] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: rgba(238, 127, 9, 0.9);
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}
#footer .footer-newsletter form input[type='submit']:hover {
  background: #e6573f;
}

#footer a {
  color: #fff;
  font-size: large;
}

#footer a:hover {
  color: #e6573f;
}
/* ICON BOX */
.icon-box {
  padding: 60px 30px;
  position: relative;
  overflow: hidden;
  background: rgba(238, 127, 9, 0.9);
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  height: 100%;
  width: 100%;
  text-align: center;
}

.icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.icon-box .title a {
  color: #fff;
  transition: 0.3s;
}

.icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 48px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);
}

.icon-box:hover {
  background: rgb(250, 179, 47);
}

.icon-box:hover .title a,
.icon-box:hover .icon {
  color: #fff;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 20vh;
}

.carousel-inner > .carousel-item > img {
  width: 100%;
  height: 35vh;
}

@media (max-width: 580px) {
  .icones-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: initial;
  }

  #box-profile,
  #box-cart {
    padding: 0 10px;
  }

  #box-profile div,
  #box-cart div {
    display: none;
  }
}

@media (min-width: 1441px) {
  body {
    margin: auto;
    max-width: 75vw;
  }
} ;
