/* menu modal */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#endereco-texto h3 {
  color: rgba(238, 127, 9, 0.9);
  margin-top: 10px;
}

#regras-senha {
  margin: 0;
  margin-top: 20px;
}

#nossa-comunidade {
  color: rgba(238, 127, 9, 0.9);
}

#footer a:hover {
  color: #e6573f;
}

.error-msg {
  color: rgb(179, 15, 59);
  font-size: 14px;
  display: block;
}

.finalizar-title {
  color: rgba(238, 127, 9, 0.9);
  margin-top: 10px;
}

.form-group {
  margin-top: 10px;
}

.button-cadastrar button {
  width: 40%;
  padding: 10px;
  font-size: 18px;
}

.button-cadastrar {
  margin-top: 25px;
}

#formulario-completo {
  width: 50%;
}

.termos {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.termos input {
  width: 22px;
  height: 22px;
  background: red;
}

#sumary-termos {
  font-size: 18px;
  color: rgba(238, 127, 9, 0.9);
}

.tratamento-dados-menu li {
  font-size: 1rem;
  margin-bottom: 10px;
}

#pf-label {
  align-self: center;
  width: 300px;
  height: 100px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 4),
    inset 0px -5px 15px rgba(255, 255, 255 0.4);
  cursor: pointer;
  margin-bottom: 2vh;
  margin-top: 2vh;
  transition: 0.3s;
}

#pf-label:after {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba (0, 0, 0.2);
  transition: 0.3s;
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + #pf-label {
  background: #343434;
}

input:checked + #pf-label:after {
  left: 290px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #15015f, #240099);
}

#pf-label:active:after {
  width: 120px;
}

@media (max-width: 768px) {
  #formulario-completo {
    width: 80%;
  }
}

@media (max-width: 425px) {
  #formulario-completo {
    width: 90%;
  }
  .button-cadastrar button {
    width: 100%;
  }
}

#person-icon,
#building-icon {
  position: absolute;
  font-size: 3rem;
  top: 10px;
  color: white;
  z-index: 100;
}

#person-icon {
  left: 25px;
  transition: 0.3s;
}

#building-icon {
  right: 25px;
  transition: 0.3;
}

input:checked + label #person-icon {
  color: #7e7e7e;
}

input:checked + label #building-icon {
  color: #fff;
}

.tipoCadastro {
  align-self: center;
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: start;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
