/* menu modal */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#endereco-texto h3 {
  color: rgba(238, 127, 9, 0.9);
  margin-top: 10px;
}

#regras-senha {
  margin: 0;
  margin-top: 20px;
}

#nossa-comunidade {
  color: rgba(238, 127, 9, 0.9);
}

#footer a:hover {
  color: #e6573f;
}

.error-msg {
  color: rgb(179, 15, 59);
  font-size: 14px;
  display: block;
}

.finalizar-title {
  color: rgba(238, 127, 9, 0.9);
  margin-top: 10px;
}

.form-group {
  margin-top: 10px;
}

.button-cadastrar button {
  width: 40%;
  padding: 10px;
  font-size: 18px;
}

.button-cadastrar {
  margin-top: 25px;
}

#formulario-completo {
  width: 50%;
}

.termos {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.termos input {
  width: 22px;
  height: 22px;
  background: red;
}

#sumary-termos {
  font-size: 18px;
  color: rgba(238, 127, 9, 0.9);
}

.tratamento-dados-menu li {
  font-size: 1rem;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #formulario-completo {
    width: 80%;
  }
}

@media (max-width: 425px) {
  #formulario-completo {
    width: 90%;
  }
  .button-cadastrar button {
    width: 100%;
  }
}
