/* menu modal */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#menu-modal a {
  font-size: larger;
  align-self: center;
  color: #e6573f;
  font-style: normal;
  text-decoration: none;
}

#menu-modal a:hover {
  font-size: larger;
  align-self: center;
  color: #e98371;
  font-style: normal;
  text-decoration: none;
}

#menu-modal {
  display: none;
  text-align: center;
  padding-top: 5vh;
  left: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: #18191af9; /* Black w/ opacity */
}

#menu-modal li {
  list-style: none;
}

#nav-icon2 {
  width: 60px;
  height: 45px;
  position: relative;
  z-index: 5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

/* botão primário */
.btn-primary {
  background-color: orange;
  border-color: rgb(250, 179, 47);
}

.btn-primary:hover {
  background-color: rgb(250, 179, 47);
  border-color: orange;
}

.btn-primary:active {
  background-color: orange;
}

.btn-primary:visited {
  background-color: orange;
}

.btn-primary:focus {
  background-color: orange;
  border-color: rgb(250, 179, 47);
}

nav {
  background-color: rgba(238, 127, 9, 0.9);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1vw;
  padding-right: 5vw;
}

#icones-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 4vw;
}

#icones-nav a {
  color: #fff;
  font-size: 2rem;
}

#icones-nav a:hover {
  color: #c7c7c7;
}

#nav-icon2 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

/* Icon 2 */

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

#endereco-texto h3 {
  color: rgba(238, 127, 9, 0.9);
  margin-top: 10px;
}

#regras-senha {
  margin: 0;
  margin-top: 20px;
}

#nossa-comunidade {
  color: rgba(238, 127, 9, 0.9);
}

/* FOOTER */
#footer {
  background-color: #18191a;
  width: 100%;
  height: auto;
}

#logo-footer {
  height: 15vh;
  width: fit-content;
}

#footer {
  background: #404040;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .footer-newsletter {
  padding: 50px 0;
  background: #404040;
}
#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #404040;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  /* border-color: #e6573f; */
}
#footer .footer-newsletter form input[type="email"] {
  padding: 8px;
  width: calc(100% - 140px);
  background-color: #4f4f4f;
  border-radius: 50px;
  border-color: #e6573f;
  border-style: double;
}
#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: rgba(238, 127, 9, 0.9);
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}
#footer .footer-newsletter form input[type="submit"]:hover {
  background: #e6573f;
}

#footer a {
  color: #fff;
  font-size: large;
}

#footer a:hover {
  color: #e6573f;
}

.error-msg {
  color: rgb(179, 15, 59);
  display: block;
  font-size: 14px;
}

.finalizar-title {
  color: rgba(238, 127, 9, 0.9);
  margin-top: 10px;
}

.form-group {
  margin-top: 10px;
}

.button-cadastrar button {
  width: 40%;
  padding: 10px;
  font-size: 18px;
}

.button-cadastrar {
  margin-top: 25px;
}

#formulario-completo {
  width: 50%;
}

.termos {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.termos input {
  width: 22px;
  /* cursor: inherit; */
  height: 22px;
  background: red;
}

#sumary-termos {
  font-size: 18px;
  color: rgba(238, 127, 9, 0.9);
}

.tratamento-dados-menu li {
  font-size: 1rem;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #formulario-completo {
    width: 80%;
  }
}

@media (max-width: 425px) {
  #formulario-completo {
    width: 90%;
  }
  .button-cadastrar button {
    width: 100%;
  }
}
