main {
  padding: 10px;
  color: #888888;
  font-weight: 550;
  font-style: normal;
}

.descricao-fale-conosco p {
  font-size: 20px;
  margin-left: 16px;
  margin-right: 16px;
  text-align: justify;
}

form {
  margin-top: 30px;
  font-size: 12px;
  align-items: center;
}

.formulario input {
  border: 1px solid black;
  background: #d9d9d9;
  outline: 0;
}

.nome-email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email {
  margin-top: 10px;
  margin-right: auto;
}

.info-email {
  font-size: 8px;
}

.mensagem {
  display: flex;
  flex-direction: column;
}

.mensagem label {
  margin-top: 20px;
}

.mensagem-input {
  width: 75vw;
  height: 120px;
  margin-top: 4px;
  border: 1px solid black;
  background: #d9d9d9;
  outline: 0;
}
