#header-cadastro {
  background-color: #18191a;
  display: flex;
  justify-content: center;
  padding: 2%;
}

#header-cadastro img {
  width: 5rem;
  height: auto;
}

#header-cadastro h3 {
  color: rgba(238, 127, 9, 0.9);
}

#body-cadastro {
  background-color: #18191a;
}

#msg-name {
  color: red;
}
