*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

.name-user {
    margin-top: 1rem;
    width: 310px;
    margin-left: 1rem;
}

.name-user ul ul {
    display: none;
}
.dropd-profile ul {
    list-style: none;
}

#btn-user-name {
    padding: 10px;
    width: 100%;
    font-size: 30px;
}

.name-user ul:hover ul{
    display: block;
}

.name-user ul ul li{
    margin-top: 10px;
    text-decoration: none;
}

.name-user ul li  {
    text-decoration: none;
}

.events {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-left: 20px;
}

.user-events {
    width: 300px;
    height: 300px;
    background: rgb(250, 179, 47);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-my-events {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.excluir-conta {
    border: none;
    background-color: transparent;
}
