* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#cards-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-cards {
  display: flex;
  justify-content: center;
}

.card {
  width: 18rem;
}
