* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: auto;
}
#navbar-profile {
  background: #404040;
}

#navbar-profile a {
  color: rgb(250, 179, 47);
}

#cards-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.col-cards {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.card {
  width: 18rem;
}

.card-body {
  width: fit-content;
}
